body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.multiimage-preview-hub img{
    max-width:100px;
}
div#popup {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.92);
    box-shadow: -2px 0px 41px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: -2px 0px 41px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: -2px 0px 41px 3px rgba(0,0,0,0.5);
}
.overlay{
    filter: blur(8px);
    -webkit-filter: blur(8px);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallery{
    display: flex;
    padding: 30px;
}
.modal-overlay{
    background-color: #fff;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.wraper{
    max-width: 200px;
    display: inline-block;
    border: 2px solid #ddd;
    margin: 10px;
}
.wraper img{
    width:100%
}
.modalclosebutton{
    border:none;
    background-color:darkred;
    color:white;
    width:100px;
    margin-left: auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
